* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.container {
    width: 520px;
    height: auto;
    min-height: 100px;
    margin: 100px auto;
    border-radius: 5px;
    border: 1px solid rgb(208, 24, 183);
    box-shadow: inset 0 0 25px 10px rgba(208, 24, 183, 0.3);
}

.base h4 {
    font-size: 26px;
    text-align: center;
    font-weight: normal;
    margin-top: 0px;
    box-shadow: 0px 2px #bababa;
    font-size: 34px;
    color: rgb(208, 24, 183);
}

.block {
    width: 135px;
    padding: 5px 20px;
    margin-left: 20px;
    display: inline-block;
}

.title {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    line-height: 0.5px;
    letter-spacing: 2.7px;
    color: rgb(208, 24, 183);
}

input[type=text] {
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: 2px solid #333;
    padding: 12px;
    background-color: #111;
    border-radius: 5px;
    font-size: 17px;
    color: #fff;
}

input[type=button] {
    width: 120px;
    margin: 20px 40%;
    font-size: 1.5em;
    cursor: pointer;
    background-color: rgb(208, 24, 183);
    color: #111;
    border: 1px solid rgb(208, 24, 183);
    padding: 0.25em 1em;
    border-radius: 0.25em;
    box-shadow: 0 0 25px 10px rgba(208, 24, 183, 0.4);
}

input[type=button]:hover {
    color: #fff;
    transition-property: box-shadow;
    transition-duration: .5s;
    box-shadow:  0 0 25px 10px rgba(208, 27, 183, 0.4);
}

#age {
    padding: 20px;
    overflow: hidden;
    font-size: 23px;
    font-weight: normal;
    line-height: 1.5;
    word-spacing: 2.7px;
    color: #fff;
}